# fig.yml for gitmill
# most important customization is to change mount source
# for the data volume in each container

# ssh: this container runs sshd, allows git over ssh
ssh:
  build: ssh
  volumes:
  - "/mnt/storage/gitmill/data:/data"
  - "/var/log/gitmill:/var/log"
  ports:
  - "22:22"
  links:
  - django

# nginx: this container runs the nginx server
nginx:
  build: nginx
  volumes:
  - "/mnt/storage/gitmill/data:/data"
  - "/var/log/gitmill:/var/log"
  ports:
  - "127.0.0.1:82:80"
  links:
  - fcgi
  - django

# fcgi: this container hosts the git-http-backend
fcgi:
  build: fcgi
  volumes:
  - "/mnt/storage/gitmill/data:/data"
  - "/var/log/gitmill:/var/log"

# django: this container runs gunicorn for django
django:
  build: django
  volumes:
  - "/mnt/storage/gitmill/data:/data"
  - "/var/log/gitmill:/var/log"
  links:
  - postgres
  - redis
  environment:
    DJANGO_SETTINGS_MODULE: gitmill.production

# postgres: database container
postgres:
  image: postgres:9.4
  command: postgres
  volumes:
  - "/mnt/storage/gitmill/postgres:/var/lib/postgresql/data"
  - "/var/log/gitmill:/var/log"

# redis: in memory caching container
redis:
  image: dockerfile/redis
  volumes:
  - "/mnt/storage/gitmill/redis:/var/lib/redis"
  - "/var/log/gitmill:/var/log"
