.container<>
  %p<> {% verbatim %}{{#link-to 'index'}}{% endverbatim %}Hello world!{% verbatim %}{{/link-to}}{% endverbatim %}
  %p<> {% verbatim %}{{#link-to 'about'}}{% endverbatim %}About{% verbatim %}{{/link-to}}{% endverbatim %}
