.container<>
  %p<> {% verbatim %}{{last_name}}-{{first_name}}-{{id}}-{{repositories.length}}{% endverbatim %}
  %p<> {% verbatim %}{{#each repositories}}{{#link-to 'repository' this}}{{name}}{{/link-to}}{{/each}}{% endverbatim %}
  %p<> {% verbatim %}{{#link-to 'index'}}{% endverbatim %}Home{% verbatim %}{{/link-to}}{% endverbatim %}
