{% extends "html.html" %}
{% load i18n %}

{% block title %}{% trans "GitMill" %}{% endblock %}

{% block body %}
%script{type: "text/x-handlebars"}<>
  .base<>
    .navbar.navbar-default.navbar-fixed-top{role: "navigation"}<>
      .container
        .navbar-header<>
          %button.navbar-toggle{type: "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}<>
            %span.sr-only<> {% trans "Toggle navigation" %}
            %span.icon-bar<>
            %span.icon-bar<>
            %span.icon-bar<>
          {% templatetag openvariable %}#link-to 'index' class="navbar-brand"{% templatetag closevariable %}{% include "logo.html" %}
          %span<> {% trans "<b>Git</b>Mill" %}
          {% templatetag openvariable %}/link-to{% templatetag closevariable %}
        .navbar-collapse.collapse<>
    .content<> {% templatetag openvariable %}outlet{% templatetag closevariable %}
%script#index{type: "text/x-handlebars"}<>
  .container<>
    %p<> {% templatetag openvariable %}#link-to 'index'{% templatetag closevariable %}Hello world!{% templatetag openvariable %}/link-to{% templatetag closevariable %}
    %p<> {% templatetag openvariable %}#link-to 'about'{% templatetag closevariable %}About{% templatetag openvariable %}/link-to{% templatetag closevariable %}
%script#about{type: "text/x-handlebars"}<>
  .container<>
    %p<> This is about page.
    %p<> {% templatetag openvariable %}#link-to 'index'{% templatetag closevariable %}Home{% templatetag openvariable %}/link-to{% templatetag closevariable %}
{% endblock %}
