%svg{xmlns: "http://www.w3.org/2000/svg", width: 50, height: 50, viewBox: "0 0 10 10"}<>
  %g{transform: "matrix(-0.2588,-0.9659,0.9659,-0.2588,5,5)"}<>
    %g{transform: "rotate(-90) scale(0.7071)"}<>
      %rect{fill: "#f39c12", x: 0, y: 0, height: 3, width: 3, transform: "matrix(0.7071,0.7071,0.7071,-0.7071,0,0)"}<>
      %rect{fill: "#2980b9", x: 0, y: 0, height: 3, width: 3, transform: "matrix(0.7071,-0.7071,-0.7071,-0.7071,0,0)"}<>
      %rect{fill: "#c0392b", x: 0, y: 0, height: 3, width: 3, transform: "matrix(-0.7071,-0.7071,-0.7071,0.7071,0,0)"}<>
      %rect{fill: "#27ae60", x: 0, y: 0, height: 3, width: 3, transform: "matrix(-0.7071,0.7071,0.7071,0.7071,0,0)"}<>
    %g{transform: "translate(-5,-5)"}<>
      %path{fill: "#f1c40f", d: "m 2,2 3,0 0,3 -3,-3 z"}<>
      %path{fill: "#3498db", d: "M 2,8 2,5 5,5 2,8 z"}<>
      %path{fill: "#e74c3c", d: "M 8,8 5,8 l 0,-3 3,3 z"}<>
      %path{fill: "#2ecc71", d: "m 8,2 0,3 L 5,5 8,2 z"}<>
